@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 96.75% 98.38%;
    --foreground: 200 3.5% 0.76%;

    --muted: 200 3.5% 91.9%;
    --muted-foreground: 200 1.75% 41.9%;

    --popover: 200 62% 91.9%;
    --popover-foreground: 200 3.5% 0.95%;

    --card: 200 62% 91.9%;
    --card-foreground: 200 3.5% 0.95%;

    --border: 200 8.5% 89.76%;
    --input: 200 8.5% 89.76%;

    --primary: 200 35% 19%;
    --primary-foreground: 200 0.7% 91.9%;

    --secondary: 200 1.75% 95.95%;
    --secondary-foreground: 200 3.1% 11.9%;

    --accent: 200 1.75% 95.95%;
    --accent-foreground: 200 3.1% 11.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 200 35% 19%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 13% 6.24%;
    --foreground: 210 2% 98.9%;

    --muted: 210 10% 23.4%;
    --muted-foreground: 210 2% 57.8%;

    --popover: 210 61% 10.14%;
    --popover-foreground: 210 2% 98.9%;

    --card: 210 61% 10.14%;
    --card-foreground: 210 2% 98.9%;

    --border: 210 10% 23.4%;
    --input: 210 10% 23.4%;

    --primary: 210 20% 78%;
    --primary-foreground: 210 2% 7.8%;

    --secondary: 210 10% 23.4%;
    --secondary-foreground: 210 2% 98.9%;

    --accent: 210 10% 23.4%;
    --accent-foreground: 210 2% 98.9%;

    --destructive: 0 62.8% 45.6%;
    --destructive-foreground: 210 2% 98.9%;

    --ring: 210 20% 78%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgba(0,0,0,0.15) rgba(0,0,0,0.0); /* scroll thumb and track */
}
.scrollbar {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
*::-webkit-scrollbar {
  width: 8px;
  background: rgba(0,0,0,0.15);
  margin: 0;
}
*::-webkit-scrollbar-button:vertical:decrement {
  background: rgba(0,0,0,0.0);
  height: 8px;
}
*::-webkit-scrollbar-button:vertical:increment {
  background: rgba(0,0,0,0.0);
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  min-height: 32px;
  background: #999999;
  border-radius: 2px;
  background-clip: content-box;
}
